{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>A Web Developer:
I have a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion.
I have the ability to integrate multiple data sources and databases into one system. I am eager to learn. I enjoy
Overcoming Challenges.</p>
        <p>Food Technologist:
As a reliable and a focused food specialist with experience in food production, processing, laboratory analysis and
            research, I enjoy ensuring that I am rigorous in my checks to ensure that a product is tested to its limits
            and follows the safety standards it needs to.I have a genuine interest in Food Security!</p>
        <p>Gospel Artist:
To me, singing is like talking. I sing, no matter who is listening, because singing is my natural way of expression.
I have an album to my credit-a praise medley on Youtube and Audiomack. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}